*{
	margin:0px;
	padding:0px;
}
body{	   
	   background-image:url("image/back1.jpg");
	  background-size:cover;
	  background-position:center;
	
}

form{
	margin-left:150px;
	font-size:30px;
	padding:20px;
	font-family:arial;
	margin-top:10px;
	border:1px solid red;
	width:430px;
	height:500px;
	 box-shadow: 5px 10px 10px 10px blue;
	 text-shadow:1px 1px red;
}
select{
	height:40px;
	width:400px;
	margin-top:10px;
	font-size:20px;
	
}
.submit{
	margin-top:10px;
}
.submit button{
	width: 400px;
	height:40px;
	padding: 10px;
	margin-top:10px;
	border:none;
	background:#99cc00;
	
	border-radius:5px;
	margin-top:15px;
	font-size:20px;
	margin-left:10px;

}
button a{
	text-decoration:none;
	color:#fff;
	display:block;
	
}
.dyss{
	padding:10px;
}
@media screen and (max-width:980px){
	.wrapper{
	width:100%;
	}
	.content{
		width:50%;
	}
	.dyss{
		width:100%;
	}
	select{
		width:100%;
		font-size:1.5rem;
	}
	.submit button[type="submit"]{
		width:100%;
		font-size:1.5rem;
	}
}
@media screen and (max-width:640px){
	.content{
		width:50%;
		float:center;
		margin-left:100px
	}
	.dyss{
		width:100%;
	}
	select{
		width:100%;
		font-size:1.5rem;
	}
	.submit button[type="submit"]{
		width:100%;
		font-size:1.5rem;
	}
}
@media screen and (max-width:320px){
	.content{
		width:30%;
		float:center;
		margin-left:100px;
	}
	.dyss{
		width:100%;
	}
	 select{
		width:100%;
		font-size:1.5rem;
	}
	.submit button[type="submit"]{
		width:100%;
		font-size:1.5rem;
	}
}
.admin button{
	width: 200px;
	height:40px;
	padding: 10px;
	margin-top:10px;
	margin-right:50px;
	background:transparent;
	border:none;
	float:right;
	border-radius:5px;
	margin-top:15px;
	font-size:20px;
	margin-left:10px;

}
